{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Study Abroad{% endblock %}


{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-352402">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-352402">
					</li>
					<li data-slide-to="1" data-target="#carousel-352402">
					</li>
					<li data-slide-to="2" data-target="#carousel-352402">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/sports/1" />
						<div class="carousel-caption">

							<p>
								Explore all of your favorite places
							</p>
                           <p>
					            <a class="btn btn-primary btn-large" href="#">Places in Berlin</a>
				        </p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/2" />
						<div class="carousel-caption">

							<p>
								Check in on all of your classmates
							</p>
                            <p>
					        <a class="btn btn-primary btn-large" href="#">Directories Here</a>
				            </p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3" />
						<div class="carousel-caption">

							<p>
								Browse through photos from the Summer of 2014
							</p>
                            <p>
					            <a class="btn btn-primary btn-large" href="#">Look at Pictures</a>
				            </p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-352402" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-352402" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="jumbotron">
				<h2>
					Berlin 2014
				</h2>
				<p>
					This project is to be a digital scrapbook from the European Council Berlin 2014 Trip.  On this website, you can explore maps of the city, pictures of events and places, and remember all the friends that we made.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Explore Berlin</a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}